
@{
    ViewData["Title"] = "_MenuAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrador</h1>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

