* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.borde {
    border: 1px #FFF;
}

.titulo {
    width: 100%;
    height: 50px;
    margin: auto;
    text-align: center;
    padding: 15px 5px;
    background: #1E90FF;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 2px;
}
/*contenedor*/
.contenedor {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}
/*Navegador*/
nav {
    width: 100%;
    height: 50px;
    background: #1E90FF;
}

.logo {
    width: 20%;
    height: 100%;
    float: left;
}

.logo1 {
    width: 30%;
    height: 80%;
    padding: 6px 15px;
    display: inline-block;
}

.navegacion {
    width: 65%;
    height: 100%;
    float: left;
}
/*nivel 0*/
nav ul {
    list-style: none;
    text-align: right;
}

    nav ul li {
        font-size: 16px;
        width: 150px;
    }

        nav ul li:hover ul {
            display: block;
        }
nav ul li a {
            display: block;
            text-decoration: none;
            color: #FFFFFF;
            font-weight: bold;
            text-align: center;
            padding: 15px 5px;

}

            nav ul li a:hover {
                background: rgba(0,0,0,.5);
            }

.ingreso {
    width: 15%;
    height: 100%;
    float: left;
}

nav .ingreso ul li {
    width: 100%
}

nav li ul {
    position: absolute;
    display: none;
}

nav .navegacion > ul > li {
    display: inline-block;
}

nav .ingreso li ul {
    width: 15%;
}
/*Header*/
header#imparables {
    width: 100%;
    height: 400px;
}

.imparables-image {
    width: 100%;
    height: 400px;
    background-image: url("../img/portada_imparables.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.imparables-text {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white;
}

main#portafolio {
    width: 100%;
    min-height: calc(100vh);
}

.div-portafolio {
    width: 33.33%;
    height: 400px;
    float: left;
    text-align: center;
    padding: 40px;
}

/*quienes somos*/
section#quienes-somos {
    width: 100%;
    height: 300px;
}

.col-ext {
    width: 50%;
    height: 100%;
    float: left;
    text-align: justify;
    padding: 20px;
}

.quienes-image {
    width: 100%;
    height: 250px;
    background-image: url("../img/foto_quienes_somos.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.Cp-image {
    width: 100%;
    height: 250px;
    background-image: url("../img/foto_quienes_somos.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

p#quienes-somos {
    margin: 25px 50px 75px;
    float: left;
}


/*contactenos*/
section#contactenos {
    width: 100%;
    height: 400px;
}

.div-contacto {
    width: 50%;
    height: 100%;
    float: left;
    padding: 20px;
}

input#lname {
    width: 90%;
    height: 100%;
    float: left;
}

textarea {
    width: 90%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

section#redes-sociales {
    width: 100%;
    height: 70%;
}

.redes {
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: left;
}

/*pie de pagina*/
footer {
    width: 100%;
    height: 50%;
}

.div-footer {
    width: 50%;
    height: 100%;
    float: left;
    padding: 10px;
    font-size: 12px;
}

button {
    background-color: #1E90FF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
button a {
        text-decoration: none;
        color: white;
        font-size: 12px;
}

    button:hover {
        background: rgba(0,0,0,.5);
    }
.navbar-brand {
    color: #FFF;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    background: #1b6ec2;
}
.box-shadow {
    background-color: #1b6ec2;
    box-shadow: 0 0.25rem 0.75rem;
}
.navbar-light .navbar-brand {
    color: #FFF;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}