* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.row {
    justify-content: center;
    width: 50%;
    max-width: 400px;
    margin: auto;
    background: #fff;
    border-radius: 7px;
    margin-right: -400px;
    margin-left: 350px;
}
.form-titulo {
    background: #00FFFF;
    color: #000;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid #B40404
}

.input {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #6E6E6E;
}
.input-100 {
    width: 100%;
}
.btn btn-primary {
    background: #FF8000;
    color: #000;
    margin: auto;
    padding: 10px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 7px;
}

btn btn-primary:active {
    transform: scale(1.05);
}
.col-md-4 {
    flex: 60%;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.form-groups {
   width: 90%;
}

.box-shadow {
    background-color: #1b6ec2;
    box-shadow: 0 0.25rem 0.75rem #000;
    font-weight: bold;
}
.navbar-brand {
    color: #ffff;
    white-space: normal;
    text-align: center;
    word-break: break-all;

}
.navbar-light .navbar-brand {
    color: #fff;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}