@*@model ConsultingProject.Core.Domain.Actividades

    @{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Crear Actividad</h1>

    <h4>Actividades</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdActividad" class="control-label"></label>
                    <input asp-for="IdActividad" class="form-control" />
                    <span asp-validation-for="IdActividad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdEtapa" class="control-label"></label>
                    <select asp-for="IdEtapa" class ="form-control" asp-items="ViewBag.IdEtapa"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IdProyecto" class="control-label"></label>
                    <select asp-for="IdProyecto" class ="form-control" asp-items="ViewBag.IdProyecto"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IdProfesional" class="control-label"></label>
                    <select asp-for="IdProfesional" class ="form-control" asp-items="ViewBag.IdProfesional"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


    <div>
        <a asp-action="Index">Ir a la Lista</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

@model ConsultingProject.Core.Domain.Actividades

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Crear Actividad</h1>

<h4>Actividades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdActividad" class="control-label"></label>
                <input asp-for="IdActividad" class="form-control" required="" />
                <span asp-validation-for="IdActividad" class="text-danger"></span>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdActividad" required="" pattern="[A-Za-z0-9]+" min="6" max="6" />
            <div class="form-group">
                <label asp-for="NombreActividad" class="control-label"></label>
                <input asp-for="NombreActividad" class="form-control" required="" pattern="[A-Za-z]+" minlength="3" maxlength="40" />
                <span asp-validation-for="NombreActividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionActividad" class="control-label"></label>
                <input asp-for="DescripcionActividad" class="form-control" required="" pattern="[A-Za-z]+" minlength="3" maxlength="60" />
                <span asp-validation-for="DescripcionActividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEtapa" class="control-label"></label>
                <select asp-for="IdEtapa" class="form-control" asp-items="ViewBag.IdEtapa" required=""></select>
                <span asp-validation-for="IdEtapa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProyecto" class="control-label"></label>
                <select asp-for="IdProyecto" class="form-control" asp-items="ViewBag.IdProyecto" required=""></select>
                <span asp-validation-for="IdProyecto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfesional" class="control-label"></label>
                <select asp-for="IdProfesional" class="form-control" asp-items="ViewBag.IdProfesional" required=""></select>
                <span asp-validation-for="IdProfesional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Ir a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
