@model ConsultingProject.Core.Domain.Actividades

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Actividades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdActividad" class="control-label"></label>
                <input asp-for="IdActividad" class="form-control" />
                <span asp-validation-for="IdActividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEtapa" class="control-label"></label>
                <select asp-for="IdEtapa" class ="form-control" asp-items="ViewBag.IdEtapa"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProyecto" class="control-label"></label>
                <select asp-for="IdProyecto" class ="form-control" asp-items="ViewBag.IdProyecto"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProfesional" class="control-label"></label>
                <select asp-for="IdProfesional" class ="form-control" asp-items="ViewBag.IdProfesional"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
