@page
@model LoginModel

@{
    ViewData["Title"] = "";
}

@section StyleLogin{
    <link href="~/css/StyleLogin.css" rel="stylesheet" />

 }

<div class="row">
    <div class="col-md-4">
        <section>
            
            <form id="account" method="post" class="form-iniciarsesion">
                <h2 class="form-titulo">Iniciar Sesión</h2>
                <hr />
                <div class="cont-inputs">


                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email" class="input-100">Correo Electrónico</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password" class="input-100">Contraseña</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button href=""type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste Tu Contraseña?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse Como Un Nuevo usuario</a>
                        </p>
                    </div>
                    </div>
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
