
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/StyleAboutUs.css" rel="stylesheet" />
}

<h1>Quienes Somos</h1>
<h2>Somos aprendices SENA cuya intención es diseñar un sistema de información software llamado "ConsultingProject" enfocado en las empresas cuyo sistema de análisis de proyectos sea casi nula.  </h2>
