
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/StyleAboutUs.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Index.css" rel="stylesheet" />

}

<div class="borde titulo"> QUIENES SOMOS </div>
<section id="quienes-somos">
    <div class="col-ext">
        <div class="quienes-image">
        </div>
    </div>
    <div class="col-ext">
        <p class="quienes-somos">
            <b>Innovation Shop</b> es una empresa que presta servicios de consultoría a través de la formulación y ejecución proyectos que fortalecen la competitividad del sector productivo del país. <br> <br>
            Con más de 10 años de experiencia, contamos con un equipo de expertos consultores y con importantes instituciones aliadas comprometidas con las mi Pymes de Colombia.
        </p>
    </div>
</section>
<section id="quienes-somos">
    <div class="col-ext">
        <div class="IMAGEN_CP">
        </div>
    </div>
    <div class="col-ext">
        <p class="quienes-somos">
            <b>Consulting Project</b> es un Software que permite centralizar las acciones de gestión, consultoría, seguimiento y control de los proyectos que ejecuta la empresa Innovation Shop, haciendo así más eficiente la labor de los colaboradores.

        </p>
    </div>
</section>

