@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Innovation Shop</title>
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <link href="~/css/Estilonav.css" rel="stylesheet" />
    <link href="~/css/Index.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
    
        <!-- Encabezado -->

        <header class="borde imparables">
            <div class="imparables-image">
                <div class="imparables-text">
                    <h1>Imparables</h1>
                    <p>Conozca nuestro nuevo proyecto</p>
                    <button><a href="https://www.colombiaproductiva.com/imparables">  Más info aquí</a></button>
                </div>
            </div>
        </header>
        <!-- portafolio -->
        <div class="borde titulo" align="center">PORTAFOLIO</div>
        <main id="portafolio">
            <!-- id solamente a uno class para muchos -->
            <div class="borde div-portafolio">
                <i style='font-size:150px; color: #104b85' class='fas'>&#xf201;</i>
                <br><br>
                <b>PROYECTOS</b>
                <br>
                <br>
                <p align="center">Nuestros proyectos contribuyen con el crecimiento económico y social del país.  </p>
            </div>
            <div class="borde div-portafolio">
                <i style='font-size:150px; color: #104b85' class='fas'>&#xf0c0;</i>
                <br><br>
                <b>CONVOCATORIAS</b>
                <br>
                <br>
                <p align="center">Postule su hoja de vida a nuestros proyectos </p>
            </div>
            <div class="borde div-portafolio">
                <i style='font-size:150px; color: #104b85' class='far'>&#xf2b5;</i>
                <br><br>
                <b>ALIADOS</b>
                <br>
                <br>
                <p align="center">Entre nuestros aliados más importantes contamos con Icontec, Colombia Productiva y OIM </p>
            </div>
        </main>

        <!-- quienes somos -->
        <div class="borde titulo"> QUIENES SOMOS </div>
        <section id="quienes-somos">
            <div class="col-ext">
                <div class="quienes-image">
                </div>
            </div>
            <div class="col-ext">
                <p class="quienes-somos">
                    <b>Innovation Shop</b> es una empresa que presta servicios de consultoría a través de la formulación y ejecución proyectos que fortalecen la competitividad del sector productivo del país. <br> <br>
                    Con más de 10 años de experiencia, contamos con un equipo de expertos consultores y con importantes instituciones aliadas comprometidas con las mi Pymes de Colombia.
                </p>
            </div>
        </section>
        <!-- contactenos -->
        <div class="borde titulo"> CONTACTENOS </div>
        <section id="contactenos">
            <div class="borde div-contacto">
                <form action="/action_page.php">
                    <label for="fname">Nombre:</label><br>
                    <input type="text" id="lname" name="fname" value="Escriba su nombre"><br><br>
                    <label for="lname">Apellidos:</label><br>
                    <input type="text" id="lname" name="lname" value="Escriba su apellido"><br><br>
                    <label for="mail">Correo Electronico:</label><br>
                    <input type="email" id="lname" name="lname" value="Escriba su correo electronico"><br><br>
                    <label for="text">Mensaje:</label><br>
                    <textarea name="comentarios" rows="10" cols="40"></textarea><br><br>
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <div class="borde div-contacto">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.6757413193955!2d-74.06500178643849!3d4.651795943377854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a45d9f1654b%3A0x3d69138572d157f2!2sSENA%20-%20Centro%20De%20Servicios%20Financieros!5e0!3m2!1sen!2sco!4v1605736936869!5m2!1sen!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </section>
        <!-- redes sociales -->
        <div class="borde redes" align="center">
            <p>Nuestras redes de contacto</p><br>
            <i style='font-size:30px; color: #1E90FF' class='fab'>&#xf08c;</i>
            <i style='font-size:30px; color: #1E90FF' class='fab'>&#xf40c;</i>
            <i style='font-size:30px; color: #1E90FF' class='fas'>&#xf674;</i>

        </div>

        <!-- pie de pagina -->
        <footer class="borde">
            <div class="borde div-footer">
                <p align="left">Map Nav </p>
            </div>
            <div class="borde div-footer">
                <p align="right">Dirección: Cra 13 No. 65-10 </p>
                <p align="right">Celular: 3213567889 </p>
                <p align="right">www.innovationshop.com </p>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>