@{
    ViewData["Title"] = "Portafolio";
    <link href="~/css/Index.css" rel="stylesheet" />
}
<h1>@ViewData["Title"]</h1>

<p>Portafolio</p>
<div class="borde titulo" align="center">PORTAFOLIO</div>
<main id="portafolio">
    <!-- id solamente a uno class para muchos -->
    <div class="borde div-portafolio">
        <i style='font-size:150px; color: #104b85' class='fas'>&#xf201;</i>
        <br><br>
        <b>PROYECTOS</b>
        <br>
        <br>
        <p align="center">Nuestros proyectos contribuyen con el crecimiento económico y social del país.  </p>
    </div>
    <div class="borde div-portafolio">
        <i style='font-size:150px; color: #104b85' class='fas'>&#xf0c0;</i>
        <br><br>
        <b>CONVOCATORIAS</b>
        <br>
        <br>
        <p align="center">Postule su hoja de vida a nuestros proyectos </p>
        <div align="center"><button type="button"><a href="../html/inscripcion_profesionales.html">Aquí</a></button></div>
    </div>
    <div class="borde div-portafolio">
        <i style='font-size:150px; color: #104b85' class='far'>&#xf2b5;</i>
        <br><br>
        <b>ALIADOS</b>
        <br>
        <br>
        <p align="center">Entre nuestros aliados más importantes contamos con Icontec, Colombia Productiva y OIM </p>
    </div>
</main>
