@model ConsultingProject.Core.Domain.Rol

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Crear</h1>

<h4>Rol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="IdRol" class="control-label"></label>
                <input asp-for="IdRol" class="form-control" required/>
                <span asp-validation-for="IdRol" class="text-danger"></span>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdRol"  required />
            </div>
            <div class="form-group">
                <label asp-for="NombreRol" class="control-label"></label>
                <input asp-for="NombreRol" class="form-control" required />
                <span asp-validation-for="NombreRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripciónRol" class="control-label"></label>
                <input asp-for="DescripciónRol" class="form-control" required />
                <span asp-validation-for="DescripciónRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"class="btn btn-info">Ir a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
