@model ConsultingProject.Core.Domain.Estudios

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Estudios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estudio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEstudio">Editar</a> |
    <a asp-action="Index">Ir a la Lista</a>
</div>
