@model ConsultingProject.Core.Domain.Herramientas

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Eliminar</h1>

<h3>¿Está Seguro de Eliminar Esto?</h3>
<div>
    <h4>Herramientas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Herramienta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Herramienta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEjeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEjeNavigation.IdEje)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdHerramienta" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index"class="btn btn-info">Ir a la Lista</a>
    </form>
</div>
