@model ConsultingProject.Core.Domain.Herramientas

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Editar</h1>

<h4>Herramientas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="IdHerramienta" class="control-label"></label>
                <input asp-for="IdHerramienta" class="form-control" />
                <span asp-validation-for="IdHerramienta" class="text-danger"></span>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdHerramienta" />

            </div>
            <div class="form-group">
                <label asp-for="Herramienta" class="control-label"></label>
                <input asp-for="Herramienta" class="form-control" />
                <span asp-validation-for="Herramienta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEje" class="control-label"></label>
                <select asp-for="IdEje" class="form-control" asp-items="ViewBag.IdEje"></select>
                <span asp-validation-for="IdEje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"class="btn btn-info">Ir a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
