@model ConsultingProject.Core.Domain.Departamento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear</h1>

<h4>Departamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CódigoDepartamento" class="control-label"></label>
                <input asp-for="CódigoDepartamento" class="form-control" />
                <span asp-validation-for="CódigoDepartamento" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CódigoDepartamento" />
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="NombreDepartamento" class="control-label"></label>
                    <input asp-for="NombreDepartamento" class="form-control" />
                    <span asp-validation-for="NombreDepartamento" class="text-danger"></span>
                </div>
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ir a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
